
<div class="row">
  <div class="col-md-12">

    <div crm-dashboard-container data-list="widgets" data-instance="instances.top"></div>

  </div>
</div>

<div class="row">
  <div class="col-md-8">

    <div crm-dashboard-container data-list="widgets" data-instance="instances.main"></div>

  </div>
  <div class="col-md-4">

    <div crm-dashboard-container data-list="widgets" data-instance="instances.sidebar"></div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div crm-dashboard-container data-list="widgets" data-instance="instances.bottom"></div>

  </div>
</div>
